<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widget">
                        <div class="widget-title">MHA-vtc</div>
                        <p class="mb-5">Société de transport privé, Toulouse, France<br>
                            All rights reserved. Copyright © 2020. MHA-vtc.</p>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="widget">
                                <a href="{{path('reservation')}}"><div class="widget-title">Réserver</div></a>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="widget">
                                <a href="{{ path('index') }}#Apropos"> <div class="widget-title">A propos</div></a>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="widget">
                                <a href="{{ path('index') }}#contact"> <div class="widget-title">Contact</div> </a>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="widget">
                                <a href="{{ path('Politique de confidentialité') }}"><div class="widget-title">Confidentialité</div></a>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="widget">
                                <a href="{{ path('CGV')}}"><div class="widget-title">Conditions génerales de ventes</div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">© 2020 MHA-vtc - Website developped by <a href="https://cadarsir.fr/index.php">Cadarsir</a>. All Rights Reserved.<a href="https://cadarsir.fr/index.php" target="_blank" rel="noopener"> Cadarsir</a> </div>
        </div>
    </div>
</footer>