{% extends('mha/bases/base.html.twig') %}

{% block stylesheet %}
    <link href="{{ asset('css/reservation.css') }}" rel="stylesheet">
    <style>
        .list-group input[type="radio"]:checked + .list-group-item {
            background-color: #436afd;
            color: white;
        }
    </style>
{% endblock %}

{% block body %}
    <body>

    <div id="reservationCard" style="background-image: url('{{ asset('images/5ec78f4653946.png.webp') }}');">
        <div class="card principal">
            <div class="card-body">
                <a href="{{ path('index') }}" style="height: 90px;display: block;width: 90px;position: absolute;right: 30px;z-index: 1000;"><img src="{{ asset('images/logoNoir.png.webp') }}" style="width: 90px;height: auto;/*! text-shadow: 2px 2px 4px #d22222; *//*! -webkit-filter: drop-shadow(0px 0px 20px rgba(0,0,0,1)); *//*! filter: url(#drop-shadow); */-ms-filter: &quot;progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')&quot;;filter: &quot;progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')&quot;;"> </a>
                <!--Wizard 3-->
                <form id="wizard3" class="wizard" data-style="2">
                    <!--Step 1-->

                    <!--end: Step 4-->
                    <h2>Où ?</h2>
                    <div class="wizard-content">
                        <div class="row">
                            <div class="col-lg-4 text-center ">
                                <div class="container" style="padding-bottom: 30px;">
                                    <div class="h5 mb-4"
                                         style="font-size: 1.6em;font-weight: 500;line-height: 1.5em;letter-spacing: -0.79px;">
                                        Dites nous où vous rejoindre et où vous déposer !
                                    </div>

                                    <div class="row text-center">
                                        <div class="center">
                                            <div class="col-12 ">
                                                <div class="row padding-top">
                                                    <input id="origin-input" class="controls" type="text"
                                                           placeholder="Entrez une adresse de rendez vous">
                                                </div>
                                                <div class="row padding-top">
                                                    <input id="destination-input" class="controls" type="text"
                                                           placeholder="Entrez une adresse d'arrivée">
                                                </div>
                                                <div style="background-color: #2250fc;width: 2px;height: 50px;position: absolute;top: 35px;left: 320px;"
                                                     class="dessin"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="col-lg-8">
                                <div class="container big">
                                    <div id="map" class="hidden"></div>
                                    <div id="infowindow-content">
                                        <span id="place-name" class="title"></span><br>
                                        <span id="place-address"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--end: Step 1-->
                    <!--Step 2-->
                    <h2> Quand ?</h2>
                    <div class="wizard-content">
                        <div id="retour" class="hidden" style="position: fixed; z-index: 1000">
                            <i class="fa fa-arrow-left"></i> Retour
                        </div>

                        <div class="row">
                            <div class="col-lg-4 text-center " id="when">

                                <div class="container" style="padding-bottom: 30px;">
                                    <button type="button" id="btnAujourdhui" class="btn btn-light btn-lg">Aujourd'hui
                                    </button>
                                    <div class="space"></div>
                                    <button type="button" id="btnPlusTard" class="btn btn-light btn-lg">Plus tard</button>

                                </div>

                            </div>
                            <div class="col-lg-8">
                                <div class="container big">
                                    <div id="aujourdhui" class="hidden">
                                        <div class="h5 mb-4 text-center"
                                             style="font-size: 1.6em;font-weight: 500;line-height: 1.5em;letter-spacing: -0.79px;">
                                            Choisissez une heure de départ pour aujourd'hui
                                        </div>
                                        <div id="datetimepicker1"></div>
                                    </div>
                                    <div id="plusTard" class="hidden text-center">
                                        <div class="h5 mb-4"
                                             style="font-size: 1.6em;font-weight: 500;line-height: 1.5em;letter-spacing: -0.79px;">
                                            Choisissez une date de départ
                                        </div>

                                        <input type="text" class="form-control datetimepicker-input" id="datetimepicker5"
                                               data-toggle="datetimepicker" data-target="#datetimepicker5"/>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!--end: Step 2-->
                    <!--Step 3-->
                    <h2>Pour qui ?</h2>
                    <div class="wizard-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="h5 mb-4 text-center"
                                     style="font-size: 1.6em;font-weight: 500;line-height: 1.5em;letter-spacing: -0.79px;">
                                    Nous avons besoin de quelques informations.
                                </div>

                                <div class="row" style="padding: 5px;">
                                    <div class="form-row" style="width: 100%">
                                        <div class="form-group col-6">
                                            <label for="nom">Nom</label>
                                            <input type="text" id="nom" class="form-control" name="nom"
                                                   placeholder="Votre nom">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="prenom">Prénom</label>
                                            <input type="text" id="prenom" class="form-control" name="prenom"
                                                   placeholder="Votre prénom">
                                        </div>
                                    </div>
                                    <div class="form-row" style="width: 100%">
                                        <div class="form-group col-6">
                                            <label for="mail">Adresse email</label>
                                            <input type="email" id="email" class="form-control" name="mail"
                                                   placeholder="Votre email">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="tel">Telephone</label>
                                            <input type="tel" id="telephone" class="form-control" name="tel"
                                                   placeholder="Votre n° de telephone">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div id="clientRecognized">

                                </div>
                            </div>
                        </div>

                    </div>
                    <h2>Confirmation</h2>
                    <div class="wizard-content">
                        <div class="seperator"><i class="fa fa-credit-card"></i></div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h4 class="upper">Votre réservation</h4>
                                <div class="table table-sm table-striped table-responsive table table-bordered table-responsive">
                                    <table class="table m-b-0">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div>Adresse de rendez vous</div>
                                            </td>
                                            <td>
                                                <p><span id="confirmationAller"> </span></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>Adresse d'arrivée</div>
                                            </td>
                                            <td>
                                                <p><span id="confirmationDepot"> </span></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>Quand ? </div>
                                            </td>
                                            <td>
                                                <p><span id="confirmationDate"> </span></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>Vos informations </div>
                                            </td>
                                            <td>
                                                <p><b>Nom : </b><span id="confirmationNom"> </span> <br><b>Prenom : </b> <span id="confirmationPrenom"> </span><br>
                                                    <b>Mail : </b><span id="confirmationMail"> </span> <br><b>Telephone : </b> <span id="confirmationTelephone"> </span></p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <h4>Prix</h4>

                                            <table class="table">
                                                <tbody>

                                                <tr class="reduction hidden ">
                                                    <td class="cart-product-name border-0">
                                                        Total de la couse
                                                    </td>
                                                    <td class="cart-product-name text-right border-0">
                                                        <span class="amount color lead"><strong><span id="prixAvantReduc"> 0 </span><span>€</span></strong></span>
                                                    </td>
                                                </tr>
                                                <tr class="reduction hidden">
                                                    <td class="cart-product-name border-0">
                                                        Réduction
                                                    </td>
                                                    <td class="cart-product-name text-right border-0">
                                                        <span class="amount color lead"><strong><span id="reduc"> 0 </span><span>€</span></strong></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="cart-product-name">
                                                        <strong>Total</strong>
                                                    </td>
                                                    <td class="cart-product-name text-right">
                                                        <span class="amount color lead"><strong><span id="prix"> 0 </span><span>€</span></strong></span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="form-row" style="width: 100%">
                                                <div class="form-group col-12 ">
                                                    <div class="container">
                                                        <label for="coupon">Code promo</label>
                                                        <input type="text" id="coupon" class="form-control" name="coupon"
                                                               placeholder="Avez vous un code promo ? ">
                                                        <p class="left pt-2">Code promo appliqué !</p>
                                                        <a class="btn mt-2 right" id="couponCheck">Vérifier</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <h4 class="upper">Méthode de paiement</h4>
                                        <div class="list-group">
                                            <input type="radio" name="paiementMethod" value="carte" id="carte">
                                            <label class="list-group-item" for="carte"><span class="fa fa-credit-card"></span> Carte Bancaire </label>
                                            <input type="radio" name="paiementMethod" value="espece" id="espece">
                                            <label class="list-group-item" for="espece"><span class="fa fa-car"></span> En Espèces  </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input id="terms" type="checkbox" name="terms_conditions"
                                                       class="custom-control-input">
                                                <label  class="custom-control-label" for="terms">En cochant cette case, vous acceptez les <a href="{{ path('CGV') }}"  target="_blank"> conditions génerales de ventes </a> </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end: Step 3-->
                    <!--Step 4-->

                </form>
                <!--end: Wizard 3-->
            </div>
        </div>
    </div>

    {% block javascript %}
        {{ parent() }}
        {% include('mha/components/js.html.twig') %}
        {% include('mha/components/jsMaps.html.twig') %}
        {% include('mha/components/jsStripe.html.twig') %}
        <script src="{{ asset('js/reservation.js') }}" defer></script>
        <script src="{{ asset('js/validate.min.js') }}"></script>
        <script src="{{ asset('js/validate-rules.js') }}"></script>
        <link href="{{ asset('js/jquery.steps.css') }}" rel="stylesheet">
        <script src="{{ asset('js/jquery.steps.min.js') }}"></script>
        <script defer src="{{ asset('js/time.js') }}"></script>
        <script src="{{ asset('js/map.js') }}"></script>

        <script defer>
            $('#wizard3').steps({
                headerTag: 'h2',
                bodyTag: '.wizard-content',
                autoFocus: true,
                enableAllSteps: true,
                labels: {
                    cancel: "Annuler",
                    current: "Etape actuelle:",
                    finish: '<a href="#finish" class="btn terminer" role="menuitem">Terminer</a>',
                    loading: "Chargement ...",
                    next: '<a href="#next" class="btn btn-outline" role="menuitem">Suivant</a>',
                    pagination: "Pagination",
                    previous: '<a href="#previous" class="btn btn-light" role="menuitem">Précedent</a>',
                },
                titleTemplate: '<span class="number">#index#</span><span class="title">#title#</span>',
                onStepChanging: function (event, currentIndex, priorIndex) {
                    return verify(currentIndex)
                },
                onFinished: function (event, currentIndex) {
                    if(!$('#terms').prop('checked')){
                        INSPIRO.elements.notification("Veuillez cocher la case",
                            "Vous n'avez pas accepté les conditions générales de ventes", "warning");
                    }
                    else{
                        storeCommande();
                    }

                }
            });


            function verify(step) {
                switch (step){
                    case 1 :
                        return (reservation._date !== undefined && reservation._date !== null)
                    case 2 :
                        if(verifyFieldsStep(step)){
                            reservation.fillConfirmation()
                            return true;
                        }
                        else {
                            return false;
                        }
                    default:
                        return verifyFieldsStep(step)
                }


            }

            function verifyCode(){
                $.ajax({
                    url : '/xhr/checkCoupon?coupon='+ $('#coupon').val(),
                    success : function(data){
                        if(data === 'false'){
                            INSPIRO.elements.notification("Ce coupon n'est pas valable.",'','danger')
                        }
                        else{
                            reservation.setDiscount(data.discount);
                            reservation.setCode(data.code);
                            $('#coupon').prop('disabled',true);
                            $('#couponCheck').unbind();
                            INSPIRO.elements.notification("Votre coupon est bien appliqué !",'','success')
                            $('.reduction').show()
                        }
                    }
                })
            }

            $('#couponCheck').on('click',function(){
                verifyCode();
            })

            function verifyFieldsStep(step) {
                let valid = true;
                let i = 0;
                $(stepsVars[step]).each(function () {
                    if ($(stepsVars[step][i]).val() === "") {
                        valid = false;
                    }
                    i++;
                })
                if (step === 0) {
                    if(!reservation._adresseDepart || !reservation._adresseArrivee || !reservation._distance){
                        valid = false;
                    }
                }
                return valid;
            }

            function storeCommande() {
                let date = reservation.getDate()._d
                let d = {
                    'y' : date.getUTCFullYear(),
                    'm' : date.getMonth(),
                    'd' : date.getDate(),
                    'h' : date.getHours(),
                    'i' : date.getMinutes()
                }
                if(reservation.getPaiementMethod() != undefined){
                    $.ajax({
                        url : '{{ path('storeCommande') }}?reservation=' + JSON.stringify(reservation) + "&date=" + JSON.stringify(d)
                    }).done(function (response){
                        if(reservation.getPaiementMethod() == "carte"){
                            stripe.redirectToCheckout({
                                sessionId:  JSON.parse(response).id
                            })
                        }
                        else{
                            window.location = response
                        }
                    })


                }
                else{
                    INSPIRO.elements.notification('Choisissez un mode de paiement','','danger')
                }

            }

            $('#email').on("focusout",function (){
                $.ajax({
                    url: "{{ path('clientStored') }}?mail=" + $('#email').val(),
                }).done(function (data){
                    $('#clientRecognized').html(data);
                })
            })

            $('#carte').on("click",function (){
                $('.terminer').html('Payer');
                reservation.setPaiementMethod('carte')
            })

            $('#espece').on("click",function (){
                $('.terminer').html('Terminer');
                reservation.setPaiementMethod('espece')
            })

        </script>
        <script defer>
            function getParameterByName(name) {
                name = name.replace(/[[]/, '\\[').replace(/[\]]/, '\\]')
                let regex = new RegExp('[\\?&]' + name + '=([^&#]*)'),
                    results = regex.exec(location.search)
                return results == null
                    ? ''
                    : decodeURIComponent(results[1].replace(/\+/g, ' '))
            }


            if (getParameterByName('estimated') === 'y'){
                $('body').on('reservationCreated',function (){
                    $('#origin-input').val(getParameterByName('oi'))
                    reservation.setAddresseDepart(getParameterByName('oi'))
                    $('#destination-input').val(getParameterByName('di'))
                    reservation.setAdresseArrivee(getParameterByName('di'))
                    reservation.setDistance(getParameterByName('distance'))
                    $('#wizard3').steps('next')
                    INSPIRO.elements.notification("Réservation récupérée","Vous pouvez entrer vos informations pour réserver votre estimation.",'success')
                })
            }

            if (getParameterByName('estimated') === 'dev'){
                $('body').on('reservationCreated',function (){
                    $('#origin-input').val(getParameterByName('oi'))
                    reservation.setAddresseDepart(getParameterByName('oi'))
                    $('#destination-input').val(getParameterByName('di'))
                    reservation.setAdresseArrivee(getParameterByName('di'))
                    reservation.setDistance(getParameterByName('distance'))
                    $('#wizard3').steps('next')
                    INSPIRO.elements.notification("Réservation récupérée","Vous pouvez entrer vos informations pour réserver votre estimation.",'success')
                })
            }

        </script>
    {% endblock %}


    </body>

{% endblock %}

