<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="cadarsir"/>
    <meta name="description" content="MHA-vtc, reservation de chauffeur privé sur Toulouse et son agglomération">
    <link rel="icon" type="image/png" href="{{ asset('images/logo.png.webp') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>MHA-vtc Toulouse</title>
    <!-- Stylesheets & Fonts -->

    <link href=" https://cadarsir.fr/m14intelligence/Template/css/plugins.css" rel="stylesheet">
    <link href=" https://cadarsir.fr/m14intelligence/Template/css/style.css" rel="stylesheet">
    <link href="https://cadarsir.fr/m14intelligence/Template/plugins/bootstrap-datetimepicker/tempusdominus-bootstrap-4.css"
          rel="stylesheet">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT7jEnTsN1qsD6et-UlFFtugaGXomXdDc&callback=initMap&libraries=places"
            defer></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180548540-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-180548540-1');
    </script>

    <!-- Hotjar Tracking Code for https://mha-vtc.fr -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {hjid: 2039456, hjsv: 6};
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

    <link href="{{ asset('css/reservation.css') }}" rel="stylesheet">

</head>

<body>

<div style="background-image: url('https://cadarsir.fr/excelium/5ec78f4653946.png');width: 100vw;height: 100vh;">
    <div class="card principal">
        <div class="card-body">
            <a href="/" style="height: 90px;display: block;width: 90px;position: absolute;right: 30px;z-index: 1000;"><img src="/images/logoNoir.png.webp" style="width: 90px;height: auto;/*! text-shadow: 2px 2px 4px #d22222; *//*! -webkit-filter: drop-shadow(0px 0px 20px rgba(0,0,0,1)); *//*! filter: url(#drop-shadow); */-ms-filter: &quot;progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')&quot;;filter: &quot;progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')&quot;;"> </a>
            <!--Wizard 3-->
            <form id="wizard3" class="wizard" data-style="2">
                <!--Step 1-->
                <h2>Où ?</h2>
                <div class="wizard-content">
                    <div class="row">
                        <div class="col-lg-4 text-center ">
                            <div class="container" style="padding-bottom: 30px;">
                                <div class="h5 mb-4"
                                     style="font-size: 1.6em;font-weight: 500;line-height: 1.5em;letter-spacing: -0.79px;">
                                    Dites nous où vous rejoindre et où vous déposer !
                                </div>

                                <div class="row text-center">
                                    <div class="center">
                                        <div class="col-12 ">
                                            <div class="row padding-top">
                                                <input id="origin-input" class="controls" type="text"
                                                       placeholder="Entrez une adresse de rendez vous">
                                            </div>
                                            <div class="row padding-top">
                                                <input id="destination-input" class="controls" type="text"
                                                       placeholder="Entrez une adresse d'arrivée">
                                            </div>
                                            <div style="background-color: #2250fc;width: 2px;height: 50px;position: absolute;top: 35px;left: 320px;"
                                                 class="dessin"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-8">
                            <div class="container big">
                                <div id="map" class="hidden"></div>
                                <div id="infowindow-content">
                                    <span id="place-name" class="title"></span><br>
                                    <span id="place-address"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--end: Step 1-->
                <!--Step 2-->
                <h2> Quand ?</h2>
                <div class="wizard-content">
                    <div id="retour" class="hidden" style="position: fixed; z-index: 1000">
                        <i class="fa fa-arrow-left"></i> Retour
                    </div>

                    <div class="row">
                        <div class="col-lg-4 text-center " id="when">

                            <div class="container" style="padding-bottom: 30px;">
                                <button type="button" id="btnAujourdhui" class="btn btn-light btn-lg">Aujourd'hui
                                </button>
                                <div class="space"></div>
                                <button type="button" id="btnPlusTard" class="btn btn-light btn-lg">Plus tard</button>

                            </div>

                        </div>
                        <div class="col-lg-8">
                            <div class="container big">
                                <div id="aujourdhui" class="hidden">
                                    <div class="h5 mb-4 text-center"
                                         style="font-size: 1.6em;font-weight: 500;line-height: 1.5em;letter-spacing: -0.79px;">
                                        Choisissez une heure de départ pour aujourd'hui
                                    </div>
                                    <div id="datetimepicker1"></div>
                                </div>
                                <div id="plusTard" class="hidden text-center">
                                    <div class="h5 mb-4"
                                         style="font-size: 1.6em;font-weight: 500;line-height: 1.5em;letter-spacing: -0.79px;">
                                        Choisissez une date de départ
                                    </div>

                                    <input type="text" class="form-control datetimepicker-input" id="datetimepicker5"
                                           data-toggle="datetimepicker" data-target="#datetimepicker5"/>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!--end: Step 2-->
                <!--Step 3-->
                <h2>Pour qui ?</h2>
                <div class="wizard-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="h5 mb-4 text-center"
                                 style="font-size: 1.6em;font-weight: 500;line-height: 1.5em;letter-spacing: -0.79px;">
                                Nous avons besoin de quelques informations.
                            </div>

                            <div class="row" style="padding: 5px;">
                                <div class="form-row" style="width: 100%">
                                    <div class="form-group col-6">
                                        <label for="nom">Nom</label>
                                        <input type="text" id="nom" class="form-control" name="nom"
                                               placeholder="Votre nom">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="prenom">Prénom</label>
                                        <input type="text" id="prenom" class="form-control" name="prenom"
                                               placeholder="Votre prénom">
                                    </div>
                                </div>
                                <div class="form-row" style="width: 100%">
                                    <div class="form-group col-6">
                                        <label for="mail">Adresse email</label>
                                        <input type="email" id="email" class="form-control" name="mail"
                                               placeholder="Votre email">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="tel">Telephone</label>
                                        <input type="tel" id="telephone" class="form-control" name="tel"
                                               placeholder="Votre n° de telephone">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                           <div id="clientRecognized">

                           </div>
                        </div>
                    </div>

                </div>
                <!--end: Step 3-->
                <!--Step 4-->
                <h2>Confirmation</h2>
                <div class="wizard-content">
                    <div class="col-lg-6">
                        <div class="h5 mb-4">Confirmation</div>
                        <p><b>Adresse de rendez-vous :</b> <span id="confirmationAller"> </span></p>
                        <p><b>Adresse de dépot :</b> <span id="confirmationDepot"> </span></p>
                        <p><b>Quand ? : </b><span id="confirmationDate"> </span></p>
                        <p><b>Vos informations : </b></p>
                        <p><b>Nom : </b><span id="confirmationNom"> </span> <b>Prenom : </b> <span id="confirmationPrenom"> </span></p>
                        <p><b>Mail : </b><span id="confirmationMail"> </span> <b>Telephone : </b> <span id="confirmationTelephone"> </span></p>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input id="terms" type="checkbox" name="terms_conditions"
                                       class="custom-control-input">
                                <label  class="custom-control-label" for="terms">En cochant cette case, vous acceptez les <a href="{{ path('CGV') }}"  target="_blank"> conditions génerales de ventes </a> </label>
                            </div>
                        </div>
                        <div id="prixPrevu" class="hidden">
                            <div class="h5 mb-4"
                                 style="font-size: 1.6em;font-weight: 500;line-height: 1.5em;letter-spacing: -0.79px; text-align: center">
                                Estimation :
                            </div>
                            <div class="icon-box effect medium border center" style="width:100%">
                                <H2><span id="prix"> 0 </span><span>€</span></H2>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="container big">
                            <div id="map2" class="hidden"></div>
                        </div>
                    </div>

                </div>
                <!--end: Step 4-->
            </form>
            <!--end: Wizard 3-->
        </div>
    </div>
</div>


<!-- end: Body Inner -->
<!-- Scroll top -->
<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
<!--Plugins-->
<script src="https://cadarsir.fr/m14intelligence/Template/js/jquery.js"></script>
<script src="https://cadarsir.fr/m14intelligence/Template/js/plugins.js"></script>
<!--Template functions-->
<script src="https://cadarsir.fr/m14intelligence/Template/js/functions.js"></script>
<script src="https://kit.fontawesome.com/e7cb47b895.js" crossorigin="anonymous"></script>
<script src="https://cadarsir.fr/m14intelligence/Template/plugins/moment/moment-with-local.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-range/4.0.2/moment-range.js"
        integrity="sha512-XKgbGNDruQ4Mgxt7026+YZFOqHY6RsLRrnUJ5SVcbWMibG46pPAC97TJBlgs83N/fqPTR0M89SWYOku6fQPgyw=="
        crossorigin="anonymous"></script>

<script src="{{ asset('js/reservation.js') }}"></script>

<script>
</script>
<script src="https://cadarsir.fr/m14intelligence/Template/plugins/bootstrap-datetimepicker/tempusdominus-bootstrap-4.js"></script>
<script src="https://cadarsir.fr/m14intelligence/Template/plugins/validate/validate.min.js"></script>
<script src="https://cadarsir.fr/m14intelligence/Template/plugins/validate/validate-rules.js"></script>
<link href="https://cadarsir.fr/m14intelligence/Template/plugins/jquery-steps/jquery.steps.css" rel="stylesheet">
<script src="https://cadarsir.fr/m14intelligence/Template/plugins/jquery-steps/jquery.steps.min.js"></script>
<script src="{{ asset('js/modernify.js') }}"></script>
<script src="{{ asset('js/map.js') }}"></script>
<script defer src="{{ asset('js/time.js') }}"></script>

<script defer>


    $('#wizard3').steps({
        headerTag: 'h2',
        bodyTag: '.wizard-content',
        autoFocus: true,
        enableAllSteps: true,
        labels: {
            cancel: "Annuler",
            current: "Etape actuelle:",
            finish: "Terminer",
            loading: "Chargement ...",
            next: "Suivant",
            pagination: "Pagination",
            previous: "Précedent",
        },
        titleTemplate: '<span class="number">#index#</span><span class="title">#title#</span>',
        onStepChanging: function (event, currentIndex, priorIndex) {
            return verify(currentIndex)
        },
        onFinished: function (event, currentIndex) {
            if(!$('#terms').prop('checked')){
                INSPIRO.elements.notification("Veuillez cocher la case",
                    "Vous n'avez pas accepté les conditions générales de ventes", "warning");

            }
            else{
                storeCommande();
            }

        }
    });


    function verify(step) {
        switch (step){
            case 1 :
                return (reservation._date !== undefined)
            case 2 :
                if(verifyFieldsStep(step)){
                    reservation.fillConfirmation()
                    return true;
                }
                else {
                    return false;
                }
                break
            default:
                return verifyFieldsStep(step)
        }


    }

    function verifyFieldsStep(step) {
        let valid = true;
        let i = 0;
        $(stepsVars[step]).each(function () {
            if ($(stepsVars[step][i]).val() === "") {
                valid = false;
            }
            i++;
        })
        if (step === 0) {
            if(!reservation._adresseDepart || !reservation._adresseArrivee || !reservation._distance){
                valid = false;
            }
        }
        return valid;
    }

    function storeCommande() {
        $.ajax({
            url : '/index.php/xhr/storeCommande?reservation=' + JSON.stringify(reservation)
        }).done(function (response){
            if (response){
                INSPIRO.elements.notification("Réservation envoyée",
                    "Merci, votre réservation est prise en compte, vous recevrez une confirmation de la part du chauffeur", "success");
            }
            else{
                INSPIRO.elements.notification("Tentative échouée",
                    "Oups, votre réservation à connu un problème, veuillez essayer de nouveau ", "warning");

            }
        })

    }

    $('#email').on("focusout",function (){
        $.ajax({
            url: "/index.php/xhr/doesThisClientStored?mail=" + $('#email').val(),
        }).done(function (data){
            $('#clientRecognized').html(data);
        })
    })

</script>


</body>

</html>

